= simple_form_for @card do |f|
  = f.input :name, error: 'Please give your event a name'
  = f.input :description, error: 'Please add a description of the event'
  = f.input :date, error: 'Please specify the date of the event'
  = f.input :location, error: 'Please add the location of the event'
  = f.input :cover_image, :as => :cover_image, error: 'Upload a cover image for your event'
  = f.submit