.form-wrapper
  = simple_form_for @card do |f|
    = f.input :name
    = f.input :description
    = f.input :date, as: :datepicker
    = f.simple_fields_for :locations do |l|
      = l.input :name
      = l.input :lat
      = l.input :lng
    = f.input :cover_image, :as => :cover_image
    = f.submit "save", :class => 'btn'