!!!
%html
  %head
    %title Moments
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all'
    %link{:href => "https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css", :rel => "stylesheet"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{:src => "https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js"}

    = csrf_meta_tags

    %script{:src => "//use.typekit.net/jvo1wfj.js"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    = render partial: 'partials/event_nav'
    #page
      = yield
